*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Times New Roman;
	font-size: 20px;
    
}
.navigation-bar{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
    height: 10%;
	background-color: whitesmoke; 
	z-index: 10;
    
}
.mymenus{
	font-weight: bolder;
	color: black;
}
.mymenus:hover{
	text-decoration: underline 2px solid black;
	color: rgb(144, 143, 243);
}
.allsection{
	position: relative;
	top: 80px;
	width: 100%;
    height: 100%;
    
}
.section{
	width: 100%;
	height: 100vh;
	/* border: 3px solid black; */
}
.section h1{
	text-align: center;
}
.logo{
  
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}
html{
	scroll-behavior: smooth;
    ;
} 
/*Home Section css*/
.home-section{
    border: 1px solid white ;
    width: 100%;
    height: 50%;
    background: url(https://img.freepik.com/free-photo/flat-lay-work-space-with-notebook-keyboard_23-2148397830.jpg);
    background-size: 100%;
}
.myinfo{
    height: 450px;
    width: 50%;
    margin: 10% 4%;
}
.info-home{
    color: darkcyan;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.myname{
    font-size: 50px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}
.myname ins{
    font-size: 50px;
    color: darkcyan;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}
.fsjd{
    font-family:'Times New Roman', Times, serif ;
    font-size: 30px;
    color: rgb(217, 45, 185);
   
}
.rsm{
    height: 50px;
    width: 80px;
    margin: 20px 30px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.rsm:hover{
    background-color: white;
    color: royalblue;
    border: 3px solid royalblue;
    transform: scale(1.1);
}

/*About Section CSS*/
.logo1{
    color: darkcyan;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
    margin-right: 250px;

}
.about-section{
    border: 1px solid white ;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 50px;
    background-image: url(https://img.freepik.com/free-photo/flat-lay-photo-office-desk-with-laptop-copy-space-background_1150-45598.jpg?w=826&t=st=1707230788~exp=1707231388~hmac=e632db072c1aa9f1f36165344a9fed4826b0444d27cbf0cea888263c431bb9cd);
    background-size: 100%;
    /* border: 3px solid black; */
}
.aboutsect{
    height: 500px;
    
}
.myimg{
    width: 50%;
    margin-top: 70px;
}

.carrer{
    text-align: justify;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: 290px;
}

.skill{
    background-color: whitesmoke;
    margin: 80px;
    height: 490px;
    padding: 10px;
}

.skill-section{
    height: 610px;
    border: 1px solid white ;
    padding: 10px;
    background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 100%;
}

.skill-head{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-variant: small-caps;
    text-decoration: underline 2px solid orangered;
}

.skillset{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.rows td div{
    height: 190px;
    border-radius: 20px;
}

.rows td div:hover{
    box-shadow: 0px 0px 10px red;
}

.project-section{
    padding: 20px;
    border: none;
    background-image: url(https://img.freepik.com/free-photo/flat-lay-photo-office-desk-with-laptop-copy-space-background_1150-45598.jpg?w=826&t=st=1707230788~exp=1707231388~hmac=e632db072c1aa9f1f36165344a9fed4826b0444d27cbf0cea888263c431bb9cd);
    background-size: 100%;
}

.all-project{
    margin-top: 40px;
}

.card-title{
    color: orangered;
    font-weight: bolder;
}

.card-img-top{
    height: 200px;
    width: 200px;
}

.project-section{
    height: 600px;

}

.contact-section{
    height: 500px;
    width: 100%;
    border: none;
    background-color: rgb(51, 49, 49);
    padding: 30px;
}

.cnt-tbl{
    margin-top: 30px;
}

.contact1 h1{
    color: #fff;
    font-size: 26px;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;

}

.contact1 h2{
    color: #fff;
    font-size: 20px;
    margin-left: 150px;

}

.contact-form h1{
    color: #fff;
    font-size: 26px;
    text-align: left;
    margin-left: 0px;
    margin-right: 150px;
}
.contact1 a .insta{
    margin-left: 150px;
}

.contact1 a img{
	width: 50px;
	height: 50px;
}
.contact1  .git{
	width: 60px;
	height: 60px;
}

.form-group input{
    width: 30Vw;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;
   
}
.form-message textarea{
    width: 30Vw;
    height: 100px;
    margin-top: 10px;
    font-size: 15px;
}




